{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}My App{% endblock %}</title>

    <style>
      [x-cloak] { display: none !important; }
    </style>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
   
    <script defer src="{% static 'js/main.js' %}?v=20"></script>

    
    <script src="{% static 'js/alpine.js' %}" defer></script>
    
    {% tailwind_css %}
</head>
 <body class="bg-gray-100 min-h-screen">
    {% block main_container_classes %}
    <div class="flex flex-col min-h-screen pt-14"> 
    {% endblock %}   
        {% block layout %}
            {% block navbar %} 
                {% include "components/navbar.html" %} 
            {% endblock %}

            <div class="flex flex-1 relative"> 
                {% block sidebar %} 
                    {% include "components/sidebar.html" %} 
                {% endblock %}

                <main class="flex-1 w-full max-w-full relative">
                    {% block content %}{% endblock %}
                </main>
            </div>

        {% endblock %}
    </div>
    
</body>
</html>